img[alt="badge"] {
	height: 40px;
	border: 2px solid black;
	border-radius: 12px;
}

.badge {
	border: 1px solid #cc8;
	border-radius: 8px;
	background: #cc6;
	font-weight: bold;
	padding: 2px 8px;
	color: #171717;
	font-size: 11px;
}