blockquote {
  border-width: thin;
  border-color: #ffcc00;
  border-style: double double none;
  margin: 18px 0;
  padding: 10px 20px;
  background: #00000040;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  p {
    padding: 0;
    margin: 0;
  }
  &.prompt-danger {
    border-color: #ff1200;
    background: #ff330030;
    color: #fff9;
    &::before {
      text-rendering: auto;
      font: var(--fa-font-solid);
      -webkit-font-smoothing: antialiased;
      content: '\f071';
      color: #ff3240;
      display: block;
      font-size: 1.8em;
      margin-right: 20px;
    }
  }
  &.prompt-info {
    border-color: #7ECCDC;
    background: #7ECCDC10;

    &::before {
      text-rendering: auto;
      font: var(--fa-font-solid);
      -webkit-font-smoothing: antialiased;
      content: '\f05a';
      color:  #7ECCDC;
      display: block;
      font-size: 1.8em;
      margin-right: 20px;
    }
  }

  strong, em {
  	margin: 0 ;
  	padding: 0 ;
  }
}