div.highlight {
	position: relative;
}

.highlighter-rouge {
  margin-bottom: 30px;
  border: 1px solid #ccc8;
  background: #191719;
  padding: 0 12px;
  max-height: 450px;
  overflow: auto;
}

code.language-plaintext {
  border: 0;
  background: transparent;
  color: #ff09;
  padding: 0;
}

.highlight > *,
code[class*='language'],
code[class*='language'] > * {
	tab-size: 2;
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 16px;
  color: #c9d1d9;
}

pre[class^=language] {
  border: 1px solid #ccc8;
  font-family: 'JetBrains Mono', monospace !important;
  padding: 12px;
  margin: 0 0 30px 0;
}

code.language-mysql:before {
  content: "mysql> "
}

pre.language-cmd {
  overflow: auto;
}