code.language-plaintext {
	font-size: 19px;
	margin: 0;
	padding: 0 2px;
	font-weight: 600;
	color: #8dcafe;
	font-family: monospace;
}


div.highlight {
	position: relative;
}

.highlight > *,
code[class*='lang'] > * {
	font-family: 'JetBrains Mono', monospace !important;
	tab-size: 2;
}


pre {
  display: flex;
  align-items: center;
  font-size: 0;
  font-variant-ligatures: none;
}

.language-liquid pre {
    white-space: pre-wrap;
}

pre {
  padding: 8px 12px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
  overflow: auto;
  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
}

div[class*='bash'] pre {
  border-top-left-radius: 0;
  border-top-right-radius:0;
  padding: 10px;
}
div[class*='bash'] code::before {
  content: '$';
  display: inline-block;
  margin-right: 10px;
  color: yellow ;
}

div[class*='bash'] {
  overflow: hidden;
}

div[class*='bash']::before {
  content:'Terminal';
  padding: 5px 10px;
  display: block;
  top: -25px;
  width: 100%;
  background: #ccc;
  color: #000;
}

div[class*='bat'] pre {
  border-top-left-radius: 0;
  border-top-right-radius:0;
}
div[class*='bat'] {
  overflow: hidden;
}

div[class*='bat']::before {
  content:'CMD';
  padding: 5px 10px;
  display: block;
  position: relative;
  width: 100%;
  background: #ccc;
  color: #000;
}