// FONT FAMILY AND FONT WEIGHT AND FONT SIZE
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 { font-size:28px;}
h2 { font-size: 25px; }
h3 { font-size: 22px; }

// MARGIN AND PADDING
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

h2 { padding-bottom: 10px; }
// COLORS
h1, h3, h4, h5, h6 { color:#e8e8e8;}
h2 {color:#ffbf00;}


