// FONT FAMILY AND FONT WEIGHT AND FONT SIZE
h1, h2, h3, h4, h5, h6 {
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

#title {
	background: #111;
	width: 100%;
	padding: 3rem 1.5rem;
	h1 {
		text-align: center;
		text-transform:uppercase;
		margin:0 auto;
		font-size: 40px;
		background-image:linear-gradient(90deg,#ff7d7d,#ce5ce8);
		background-clip: text;
		-moz-background-clip: text;
		-webkit-background-clip: text;
		color:transparent;
		white-space: pre-wrap;
	}
}

h2 { font-size: 26px; }
h3 { font-size: 20px; }

// MARGIN AND PADDING
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 18px;
}

h2 { padding-bottom: 10px; }
// COLORS
h1, h3, h4, h5, h6 { color:#e8e8e8;}
h2 {
	color:#fff;
	font-family: 'Fira Sans', sans-serif;
	font-weight: bolder;
	text-shadow: 2px 1px 7px 3px #ccc8;
}


@media (min-width: 768px) {
	h1 { font-size: 31px;}
	h2 { font-size: 28px; }
	h3 { font-size: 22px; }
}

@media (min-width: 992px) {
	h1 { font-size: 40px;}
	h2 { font-size: 32px; }
	h3 { font-size: 24px; }
}