

ul, ol {
	margin:0 0 20px;
  li {
    font-size: 1.09em;
  }
}

ul {
  list-style-image:url('../images/bullet.svg');
  ul {
    margin: 0;
  }
  li {
    p {
     font-size: 1em;
     strong {
      padding: 0 3px;
    }
  }
}
}