p {
    color: #d7cfbe;
	font-family: 'EncodeSansRegular', sans-serif;
    font-size: 18px;
    font-weight: normal;
	letter-spacing: .5px;
}

li {
	em {
		padding: 0 5px;
	}
	strong {
		color:#ffbf00;
	}
}

.link::after {
	content: "\25E5";
	font-size: .6rem;
	font-weight: bolder;
	margin-left: 0.1rem;
	vertical-align: super;
}