.sidebar {
  background-color: #111;
  min-height: 100vh;
  padding-top: 20px;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  display: none;
  flex-direction: column;
  // border: 1px solid red;
  &__content {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: auto;
    width: 90%;
    padding: 0;
    margin: 10px auto;
    font-size: 13px;
    list-style: none;
    li {
      margin: 0 0 8px 0;
    }
  }
}
.sidebar__author {
  width: 100px;
  height: 100px;
  border: 1px solid #cc6;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
  &--picture {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    flex-basis: 15rem;
  }
}