th img, td img {
	display: none;
}

td.item {
	color: #dc1;
}

@media (min-width: 992px) {
	td, th {
		border: 1px solid #ccc8;
		padding: .4rem;
		text-align: left;
	}
	th {
		width: fit-content;
	}

	th img, td img {
		display: inline-block;
	}
}