@import "anchors";
@import "badges";
@import "blockcodes";
@import "card";
@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";
@import "headings";
@import "paragraphs";
@import "blockquotes";
@import "tabs";
@import "scrollbar";
@import "tables";
@import "extras";
@import "lists";
@import "code-header";
@import "tooltips";
@import "sidebar";
@import "print";

$background: #111;
$color: #b1b1b1;

* {
  box-sizing: border-box;
}

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font-family: 'EncodeSansRegular', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: $color;
  background: $background;
}

p, table, dl {
  margin:0 0 20px;
}

dd {
  margin-bottom: 15px;
}

p {
  font-family: 'EncodeSansRegular', sans-serif;
  font-weight: normal;
  letter-spacing: .5px;
}

.wrapper {
  max-width:100%;
  width: 100%;
  // border: 2px solid red;
  display: flex;
  overflow: hidden;
  section {
   flex-basis: 0;
   flex-grow: 999;
   min-inline-size: 60%;
 }
 &__content {
   padding: 28px;
   border-radius: 10px;
   background: #171717;
 }

 section img {
  max-width: 100%;
}

table {
  width:100%;
  border-collapse:collapse;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 15px 0 20px 0;
}
}
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    gap: 10px;
    .col {
      width: calc(100% / 3.2);
    }
  }
}
