<!doctype html>
<html lang="{{ site.lang | default: "es-CL" }}">
<head>
  {% seo %}
  {% include head.html %}

  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/scrolls-anchors.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <style>
    {{ page.css.custom }}
  </style>
</head>
<body>
  <enidev-button data-btn="top"></enidev-button>
  <div id="header">
  </div><!-- end header -->
  <div class="wrapper">
    {% include sidebar.html %}
    <section>
      <div id="title">
        <h1>{{ page.title | default: site.title }}</h1>
        <p align="center">{{ site.description | default: site.github.project_tagline }}</p>
        <hr>
      </div>
      {{ content }}
    </section>
    {% include sidebar.html img='/assets/images/toc.png' content=page.content %}
  </div>
  <script src="{{ '/assets/js/tabs.js' | relative_url }}"></script>
</body>
</html>
